.Input {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 #bada55;

  input {
    text-align: center;
    border: none;
    outline: none;
    padding: 5px;

    &.error{
      background-color: #da5555;
    }
  }
}