.screen {
    height: 65%;
    text-align: center;
    background-color: #222222;
    border-radius: 5px;
}

.screenNumber{
    font-size: 80px;
    font-weight: 700;
    color: #ffffff;
}

.max {
    color: red;
}