.Screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65%;
  text-align: center;
  background-color: #222222;
  border-radius: 5px;

  .screenNumber {
    font-size: 80px;
    font-weight: 700;
    color: #ffffff;
    display: flex;

    .error{
      color: #da5555;
    }

    span{
      color: #bada55;
      align-self: center;
      font-size: 25px;
    }
  }

  .max {
    color: red;
  }
}

