.btnContainer {
  .btn {
    outline: none;
    font-size: 35px;
    cursor: pointer;
    border: transparent;
    width: 100px;
    padding: 0;
    background-color: rgba(#fff, .5);
    color: #ffffff;
    border-radius: 5px;
    transition: background-color .2s;

    &:active {
      background-color: #222222;
    }
  }
}

.dis {
  opacity: 0.5;
}